.header {
  width: 60%;
  height: 100px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: wheat;
  font-size: 50px;
}
.button {
  height: 100%;
  background: rgb(70, 90, 79);

  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(125, 168, 123);
  transform: scale(1.2);
}
