.table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* border-collapse: separate; */
  border-spacing: 0 8px;
}

.tabfirst {
  position: relative;
}
.tabfirst::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  height: 2px;

  display: block;
  width: 100%;
  background-color: rebeccapurple;
}

.tabtit {
  font-weight: bold;
}

.id {
  display: none;
}
